<!DOCTYPE html>
<!-- Root element with necessary namespaces for Thymeleaf and layout decorators. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultTemplate}">

<head>
	<!-- Charset setting for the document to interpret special characters correctly. -->
	<meta charset="UTF-8">

	<!-- This meta tag tells Internet Explorer (IE) to display the webpage in edge mode, which is the highest mode available to that IE version. -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- This meta tag makes the webpage look good on all devices and screen resolutions. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Dynamic title using Thymeleaf's expression. "Placeholder Title" will show if ${title} is not provided. -->
	<title th:text="${title}">Placeholder Title</title>
</head>

<body>
	<!-- Define a variable 'pageTitle' which can be dynamically used in Thymeleaf templates. -->
	<th:block th:with="pageTitle='Login'"></th:block>

	<!-- Custom Header for the Login Page, defined as a Thymeleaf fragment named 'customHeader'. -->
	<div th:fragment="customHeader">
		<h1>JCR - Laptops (Admin Site)</h1>
	</div>

	<!-- Main content area for the body, defined as a Thymeleaf fragment named 'content'. -->
	<div layout:fragment="content" style="padding-bottom: 50px;">

		<!-- Display an error message if the username or password is invalid. -->
		<div th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></div>

		<!-- Login form starts here. -->
		<form action="#" th:action="@{/login/}" th:object="${loginModel}" method="post"
			style="max-width: 400px; margin: 0 auto;">


			<!-- Username input field. -->
			<div style="margin-bottom: 15px;">
				<label for="username" style="display: block; margin-bottom: 8px;">User Name</label>
				<input type="text" id="username" th:field="*{username}"
					style="width: 100%; padding: 10px; border: 1px solid #ccc;">


				<!-- Display errors related to the 'username' field. -->
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
					style="display: block; color: red; margin-top: 5px;"></span>
					
						<div>
						<small><i>Example: jluthi, cclocuh, or rsteinebrunner</i></small>
					</div>
			</div>

			<!-- Password input field. -->
			<div style="margin-bottom: 15px;">
				<label for="password" style="display: block; margin-bottom: 8px;">Password</label>
				<input type="password" id="password" th:field="*{password}"
					style="width: 100%; padding: 10px; border: 1px solid #ccc;">

				<!-- Display errors related to the 'password' field. -->
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
					style="display: block; color: red; margin-top: 5px;"></span>
					
					<div>
						<small><i>Hint: count to five</i></small>
					</div>
			</div>

			<!-- Submit button for the login form. -->
			<div style="text-align: center; margin-bottom: 15px;">
				<input type="submit" value="Login"
					style="padding: 10px 15px; border: none; background-color:  #016b18; color: white; cursor: pointer;">
			
			</div>
		</form>

		<!-- Link for users to navigate to the registration page if they don't have an account. -->
		<p>Don't have an account? <a href="/register/">Register Here</a></p>
	</div>
</body>

</html>